form{
  padding:4px;
  background-color:gray;
}

h1{
  font-size: 25px;
}
label{
  display:block;
  text-align: left;
  font-size:20px;
}

input{
  width: 100%;
  border: 2px solid black;
  border-radius: 5%;
  height: 15%;
}

.form-control{
  padding:5px;
}

button{
  padding:5px;
  background-color: blue;
  border:none;
  font-size: 20px;
  border-radius: 10%;
  margin-left:50%;
  margin-right:50%;
}

button:hover{
  background-color:#6666FF;
}
.message{
  margin-left:50%;
  margin-right:50%;
  width: 30px;
  height: 20px;
  font-size: 30px;
  background-color:blue;
  color:blue;
}

p{
  /* color:green; */
  text-align: center;
  border-radius: 5%;
  background-color:lightgreen;
  width:15%;
  font-size: 23px;
}